.main {
    display:flex;
    flex-direction:column;
    align-items: center;
    width: 100%;
}

h2 {
    /* margin: 10px 0; */
}

span {
    margin-top: 30px;
}

input {
    margin-top: 10px;
    height: 25px;
    width: 200px;
    border-radius: 3px;
}

#testing-sites {
    min-width: 350px;
    max-height: 500px;
    overflow-y: auto;
    border: 1.5px dashed teal;
    margin-top: 10px;
    padding: 0 15px;
}
#testing-sites > h3 {
    margin-bottom: 4px;
}
#testing-sites >  p {
    margin: 2px 0;
}
#testing-sites > i {
    margin-bottom: 15px;
}

.breakline {
    display: block;
    border: 0.5px solid turquoise;
}